.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
body {
    background-color: #dfe9c6;
}
body, ul, li, h2 {
    margin: 0;
    padding: 0;
}
.widget {
    background-color: #55bc75;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.40);
    margin: 20px auto;
    width: 300px;
}
.widget.loading {
    background: #55bc75 url('img/loading.gif') no-repeat center center;
    min-height: 330px;
}
h2 {
    color: #fff;
    font: 18px/50px "pt mono";
    height: 50px;
    text-align: center;
    text-transform: uppercase;
}
li {
    float: left;
    list-style: none;
}
li img {
    display: block;
    border: none;
}
li:first-child {
    float: none;
    margin-bottom: 5px
}
li:first-child img {
    max-width: 100%
}